.hero-slider-dots {
  position: relative;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

element.style {
  opacity: 1;
  width: 3040px;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.hero-slider-dots .slick-dots {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  outline: 0;
}
.hero-area-single {
  position: relative;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.hero-img {
  width: 100%;
  object-fit: cover;
  height: 360px;
}
@media (min-width: 576px) {
  .hero-img {
    height: 480px;
  }
}
@media (min-width: 1200px) {
  .hero-img {
    height: 630px;
  }
}
.hero-img-2 {
  width: 100%;
  object-fit: cover;
  height: 360px;
  overflow: hidden;
  margin-top: 0;
}
@media (min-width: 992px) {
  .hero-img-2 {
    height: 405px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .hero-img-2 {
    height: auto;
  }
}
.hero-area-single {
  position: relative;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  color: #000;
}
.hero-content .h5,
.hero-content h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1px;
}
.hero-content .h2,
.hero-content h2 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
@media (min-width: 576px) {
  .hero-content .h2,
  .hero-content h2 {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .hero-content .h2,
  .hero-content h2 {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .hero-content .h2,
  .hero-content h2 {
    font-size: 68px;
  }
}
@media (min-width: 1200px) {
  .hero-content .h2,
  .hero-content h2 {
    font-size: 79px;
  }
}
.hero-content .h2::after,
.hero-content h2::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background: #ea1c26;
  left: 0;
  bottom: 0;
}
.hero-content p {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 38px;
}
.hero-button {
  background: #ea1c26;
  display: inline-block;
  color: #fff !important;
  padding: 10px 15px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  font-size: 14px;
}
@media (min-width: 576px) {
  .hero-button {
    padding: 15px 30px;
  }
}
@media (min-width: 1200px) {
  .hero-button {
    padding: 20px 40px;
  }
}
.hero-button::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: auto;
  right: 0;
  transition: all 0.3s ease 0s;
  z-index: -1;
  background: #000;
}
.hero-button:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
.hero-content-2 .h5,
.hero-content-2 h5 {
  margin-bottom: 4px;
}
.hero-content-2 .h2,
.hero-content-2 h2 {
  font-size: 36px;
}
@media (min-width: 576px) {
  .hero-content-2 .h2,
  .hero-content-2 h2 {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .hero-content-2 .h2,
  .hero-content-2 h2 {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .hero-content-2 .h2,
  .hero-content-2 h2 {
    font-size: 68px;
  }
}
@media (min-width: 1200px) {
  .hero-content-2 .h2,
  .hero-content-2 h2 {
    font-size: 72px;
  }
}
.hero-content-2 .h2::after,
.hero-content-2 h2::after {
  display: none;
}
.hero-content-2 p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 38px;
}
@media (min-width: 576px) {
  .hero-content-2 p {
    margin-top: -10px;
  }
}
.hero-content-2 .hero-button {
  padding: 10px 15px;
}
@media (min-width: 576px) {
  .hero-content-2 .hero-button {
    padding: 15px 30px;
  }
}
@media (min-width: 1200px) {
  .hero-content-2 .hero-button {
    padding: 15px 30px;
  }
}
.hero-area-wrapper .hero-area-single.slick-active .h5,
.hero-area-wrapper .hero-area-single.slick-active h5 {
  animation: fadeInLeft 1s ease 0s 1 backwards;
}
.hero-area-wrapper .hero-area-single.slick-active .h2,
.hero-area-wrapper .hero-area-single.slick-active h2 {
  animation: fadeInLeft 1s ease 0.3s 1 backwards;
}
.hero-area-wrapper .hero-area-single.slick-active p {
  animation: fadeInLeft 1s ease 0.5s 1 backwards;
}
.hero-area-wrapper .hero-area-single.slick-active .hero-button {
  animation: fadeInLeft 1s ease 0.7s 1 backwards;
}
.slick-slide {
  outline: 0;
}
.fix-slider-dots .slick-dots li button {
  text-indent: -9999px;
  font-size: 0;
  padding: 0;
}
.hero-slider-dots {
  position: relative;
}
.hero-slider-dots .slick-dots {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.hero-slider-dots .slick-dots li {
  margin-right: 10px;
}
.hero-slider-dots .slick-dots li:last-child {
  margin-right: 0;
}
.hero-slider-dots .slick-dots button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(234, 28, 38, 0.7);
  transition: all 0.3s ease 0s;
  border: 4px solid transparent;
  transform: scale(0.7);
}
.hero-slider-dots .slick-dots .slick-active button,
.hero-slider-dots .slick-dots button:hover {
  transform: scale(1);
  border: 4px solid #000;
  background: #fff;
}