.section-title {
  font-size: 26px;
  font-weight: 700;
  position: relative;
  margin-top: -7px;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 30px;
  }
}
.section-title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background: #ea1c26;
  left: 15px;
  bottom: -15px;
}
.section-top-gap-100 {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .section-top-gap-100 {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  .section-top-gap-100 {
    margin-top: 100px;
  }
}
.section-content-gap {
  margin-bottom: 50px;
}
.product-catagory-wrapper {
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .product-catagory-wrapper {
    margin-bottom: -30px;
  }
}
@media (min-width: 768px) {
  .product-catagory-wrapper {
    margin-bottom: -30px;
  }
}
@media (min-width: 992px) {
  .product-catagory-wrapper {
    margin-bottom: -30px;
  }
}
.product-catagory-wrapper > .container > .row > .col-12 {
  margin-bottom: 30px;
}
.product-catagory-wrapper > .container > .row > .col-12:last-child {
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .product-catagory-wrapper > .container > .row > .col-12 {
    margin-bottom: 30px;
  }
}
.product-catagory-single {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #eee;
  transition: all 0.3s ease 0s;
}
.product-catagory-single:hover {
  border: 2px solid #ea1c26;
}
.product-catagory-single:hover .product-catagory-title {
  color: #ea1c26;
}
.product-catagory-img {
  display: block;
  width: 40%;
  overflow: hidden;
  margin-right: 5%;
}
.product-catagory-img img {
  width: 100%;
  height: auto;
}
.product-catagory-content {
  width: 55%;
}
.product-catagory-title {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  transition: all 0.3s ease 0s;
}
.product-catagory-items {
  font-size: 14px;
  color: #000;
}
.product-default-single {
  padding: 0 30px 30px 30px;
}
.product-default-content {
  border-top: 2px solid #eee;
  padding-top: 25px;
}
.product-default-img {
  display: block;
  min-height: 273px;
  width: 100%;
  object-fit: cover;
}
.product-default-link a {
  display: block;
  color: #000;
  margin-bottom: 15px;
  line-height: 1.625;
  font-size: 16px;
}
.product-default-link a:hover {
  color: #ea1c26;
}
.product-default-price {
  display: block;
  color: #ea1c26;
  font-size: 16px;
}
.product-default-price-off {
  color: #8a8a8a;
}
.product-img-warp {
  position: relative;
}
.product-action-icon-link {
  position: absolute;
  top: 20px;
  right: -10px;
}
.product-action-icon-link li {
  margin-bottom: 10px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
  transform: scale(0.6);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.product-action-icon-link li:last-child {
  margin-bottom: 0;
}
.product-action-icon-link li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  border: 2px solid #eee;
  display: block;
  background: #fff;
}
.product-default-single:hover .product-action-icon-link li {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.product-default-single:hover .product-action-icon-link li:nth-child(1) {
  transition-delay: 0s;
}
.product-default-single:hover .product-action-icon-link li:nth-child(2) {
  transition-delay: 0.1s;
}
.product-default-single:hover .product-action-icon-link li:nth-child(3) {
  transition-delay: 0.2s;
}
.product-default-single:hover .product-action-icon-link li:nth-child(4) {
  transition-delay: 0.3s;
}
.product-action-icon-link li a:hover {
  background: #ea1c26;
  border-color: #ea1c26;
  color: #fff;
}
.product-list-single {
  display: flex;
  padding: 30px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .product-list-single {
    flex-direction: row;
  }
}
.product-list-link a {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #333;
}
.product-list-link a:hover {
  color: #ea1c26;
}
.product-list-img-link {
  width: 100%;
  margin-right: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .product-list-img-link {
    width: 35%;
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .product-list-img-link {
    width: 25%;
    margin-right: 30px;
  }
}
.product-list-content {
  width: 100%;
}
@media (min-width: 768px) {
  .product-list-content {
    width: 65%;
  }
}
@media (min-width: 1200px) {
  .product-list-content {
    width: 75%;
  }
}
.product-list-price {
  display: block;
  font-size: 20px;
  color: #ea1c26;
  font-weight: 500;
  margin-bottom: 15px;
}
.product-list-price-off {
  color: #666;
  font-size: 18px;
}
.product-action-icon-link-list {
  display: block;
}
.product-action-icon-link-list li {
  margin-right: 10px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.product-action-icon-link-list li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 39px;
  text-align: center;
  border: 2px solid #eee;
  display: block;
  background: #fff;
}
.product-action-icon-link-list li a:hover {
  background: #ea1c26;
  border-color: #ea1c26;
  color: #fff;
}
